<h1>Cocktails#show</h1>
 <h2><%= @cocktail.name %></h2>
 <% @cocktail.doses.each do |dose| %>
   <%= dose.description %> <%= dose.ingredient.name %> <%= link_to "X", dose_path(dose), method: :delete %>
 <% end %>
 <%= link_to "Add dose", new_cocktail_dose_path(@cocktail)  %>

<% @cocktail.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<%= link_to "Cocktails", cocktails_path  %>
